*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
}

#container {
	margin: 150px 0px 0px 500px;
	height: 300px;
	width: 600px;
	background-color: blue;
	padding-top: 25px;
	border-radius: 40px;
	
}

label {
	display: block;
	width: 550px;
	margin: 0px 25px 0px 25px;
}

input {
	display: block;
	width: 550px;
	margin: 0px 25px 0px 25px;
	background-color: silver;
}

#login{
	background-color: black;
	margin-top: -20px;
}
